<div class="container">
    <h2>Welcome to GRC Races!</h2>

    <p>The Grandview Running Club meets locally in the locale of Grandview Heights, Ohio, every Tuesday evening to run at 7:00pm (we've never missed a week!).  We pick a different bar to meet and drink at every week with runs usually around 4-5 miles.</p>

    <p>This website was started by a member of the group as a way to organize the members' races.  What more needs to be said?</p>

    <p>To find out more about GRC, visit <a href="https://www.meetup.com/Grandview-Running-Club/" target="_blank">our Meetup group</a> and like us on <a href="https://www.facebook.com/grandviewrunningclub/" target="_blank">Facebook</a>.</p>

    <p>Feel free to <a routerLink="/signup">register</a> and <a routerLink="/signin">join us!</a></p>
</div>
