<div *ngIf='runners'>    
    <div class="row">
        <div class="col-xs-12">
            <img [src]="race.imagePath"
            alt="{{race.name}}"
            class="img-responsive"
            style="max-height: 300px;">
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1>{{race.name}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group"
                    appDropdown>
                    <button type="button" class="btn btn-primary dropdown-toggle">Manage Race <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a (click)="onAddToRunners()" style="cursor:pointer;">Add Race</a></li>
                        <li><a style="cursor:pointer;" (click)="onEditRace()">Edit Race</a></li>
                        <li><a style="cursor:pointer;" (click)="onDeleteRace()">Delete Race</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{race.description}}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{race.date}}
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let runner of race.runners">
            {{ runner.firstName }} {{ runner.lastName }}
          </li>
        </ul>
      </div>
    </div>
</div>
